<h1>Send Mail Net Core</h1>

<form method="post">
    <label>To:</label>
    <br/>
    <input type="text" name="to"/>
    <hr/>
    <label>Asunto:</label>
    <br />
    <input type="text" name="asunto" />
    <hr />
    <label>Mensaje:</label>
    <br />
    <textarea name="mensaje"></textarea>
    <hr />
    <button>Send Mail</button>
</form>

<h2>@ViewData["Mensaje"]</h2>